/*Estilo do menu*/
header{
    position:relative;
    width: 118.7em;
    text-align: center;
    left: -5px;
    top: -37px;
    background-color: #7b5f5f;
    height: 4.2em;
    
    
}
html{
    scroll-behavior: smooth;
    transition: .8s all;
}
.menu{
    position: fixed;
    z-index: 1;
}
ul {
    position: relative;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    
    
}

li a {
    position: relative;
    text-decoration: none;
    margin: 10px;
    font-size: 18pt;
    left: 30em;
    color: #ffffff;
    transition: all .5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: .7em;
}

li a:hover {
    color: #ffd83c;
}

/*rede-social*/
.redes {
    position: relative;
    left: 65%;
    top: -80px;
    color: #fff;
    width: 500px;
    height: 10px;
   
}

.contato {
    position: relative;
    left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

svg {
    margin-right: 10px;
    margin-right: 10px;
    cursor: pointer;
   
}

.redes p {
    cursor: pointer;
    position: relative;
    left: 33%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: -40px;
    width: 40px;

}

.redes p:hover {
    color: #939292;
}

/*Inicio do site*/
.fundo {
    background-image: url("/imagems/pao.jpg");
    min-height: 900px;
    min-width: 1900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 65.5px;
    left: 1px;

}

.nome-loja {
    position: relative;
    color: #fff;
    text-align: center;
    top: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nome-loja h1 {
    font-size: 9em;
    position: relative;
    left: 0%;
}

span {
    font-size: 2em;
    position: relative;
    top: 100px;
    left: 0%;

}

.btn-pedido {
    border: solid;
    padding: 15px;
    position: relative;
    top: -18px;
    left: 0%;
}

.produto-do-dia {
    position: relative;
    top: 70em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 400px;
    width: 1000px;
    color: #7b5f5fc4;
}

.produto-do-dia p {
    position: relative;
    line-break: normal;
    width: 500px;
    text-align: center;
    top: 35px;
}

.linha {
    position: relative;
    width: 150px;
    height: 2px;
    background-color: #ef0404;
    top: 12px;
    left: 155px;
}


.produto-do-dia a {
    position: relative;
    top: -750px;
    left: 20%;
    cursor: pointer;
    transition: all .5s;
}

.produto-do-dia a:hover {
    color: #ec8633;
}

.imagem-produto {
    background-image: url("/imagems/rosquinha-removebg-preview.png");
    width: 400px;
    height: 600px;
    position: relative;
    left: 65%;
    top: -400px;
}

.sub-titulo {
    /*span*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    top: -20px;
    left: 7%;
}

.preco {
    position: relative;
    background-color: #7b5f5f;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    top: -51em;
    left: 39em;
}

.fora {
    background-color: #ffffff00;
    border: #ffffff solid;
    top: -58.7em;
    position: relative;
    width: 110px;
    height: 110px;
    left: 39.5em;
}

.fora p {
    position: relative;
    left: 18px;
    color: #ffffff;
    width: 67px;
    text-align: center;
    top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gif {
    background-image: url("/imagems/mesaCafe.jpg");
    position: relative;
    left: -1%;
    top: 127em;
    min-height: 700px;
    min-width: 1922px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.chefe {
    background-image: url("/imagems/chefe.jpg");
    height: 500px;
    width: 450px;
    position: relative;
    left: 500px;
    top: -160px;
    position: relative;
}

.sobre {
    position: relative;
    top: 106em;
    width: 500px;
    text-align: center;
    left: 1em;
}
.sobre p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #7b5f5fc4;
position: relative;
left: 52em;
top: 9em;
font-size: 15pt;

}
.sobre h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7b5f5fc4;
    position: relative;
    left: 43.5em;
    top: 6em;
    }
    .sobre h5{
    position: relative;
    left:78em;
    top: 13em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7b5f5fa4;
    }

    .sobre .linha{
        position: relative;
        top: 10em;
        left: 76em;
    }


    .grao-cafe{
        position: relative;
        background-image: url("/imagems/grao.jpg");
        width: 1897px;
        height: 500px;
        left: -20px;
        background-position: center;
    }

    .grao-cafe h3{
        font-size: 25pt;
        word-wrap: break-word;
        width: 600px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: relative;
        left: 660px;
        top:230px;
    }
    .grao-cafe  span{
        font: 2em sans-serif;
        position: relative;
        top:220px;
    }
    .nosso-cafe{
        position: relative;
        font-family:'Courier New', Courier, monospace;
      
    }
    .pt-dentro{
        position: relative;
        top: 148em;
        left: 20%;
        width: 550px;
        height: 200px;
    }
    .nosso-cafe p{
        width: 500px;
        text-align: center;
        top:-15em;
        position: relative;
    }
    .nosso-cafe h1{
        width: 800px;
        left: 160px;
        position: relative;
        top:-12em;

        
    }
    .nosso-cafe span{
        position: relative;
        top:-9em;
        letter-spacing: -4px;
    }
    .pt-dentro .linha { 
        position: relative;
        top:-17em;
    }
    .cor img{
        width: 30px;
        height: 30px;
        z-index: 1;
        cursor: pointer;
        position: relative;
        top:580px;
        left: 40px;
        margin-right: 95px;
        text-align: center;
    }
   .lb-heart input:checked + img {
    background-image: url("/svg/heart-fill.svg " );
    background-size:30px ;
   }
    
    .primeria-imagem {
        position: relative;
        background-image: url("/imagems/trabalho-com-cafe.jpg");
        width: 300px;
        height: 700px;
        background-position: center;
        background-size:1050px;
        top: -50em;
        left: 40em;
    }

    .segunda-imagem{
        position: relative;
        background-image: url("/imagems/zoom-cafe.jpg");
        width: 300px;
        height: 700px;
        background-position: center;
        background-size:500px;
        top:-94.75em;
        left: 60em;
    }
    .cor{
        background-color: #00000000;
        width: 300px;
        height: 700px;
        opacity: 0;
    }
    
    .cor:hover {
        background-color: #43424276;
        opacity: 1;
    }
    
  /*footer*/
  .contatos{
    position: relative;
    top: 195em;
    height: 200px;
    background-color: #7b5f5f;
    width: 1900px;
    right:7px;
  }
  .contatos .endereco{
    position: relative;
    top: -39em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    left: 680px;
    color: #7b5f5f;
  }
  .contatos .endereco h1{
    font-size: 35pt;
  }
  .contatos .meio-de-contatos{
    position: relative;
    top: -40em;
    width: 100px;
    height: 10px;
    align-items: center;
    text-align: center;
    left:700px ;
  }

  .contatos .meio-de-contatos  .txtArea ,.nome,.email,.Assunto{
    border: 2px solid #7b5f5f;
    resize: none;
    padding: 10px;
    margin: 1px;
   
  }
  .txtArea{
    position: relative;
    left: 200px;
    top:-122px;
    height:  96px;
    width: 250px;
  }
  .contatos  .linha{
    position: relative;
    top: -720px;
    left: 850px;
    margin-bottom: 90px;
  }

  .txtArea:hover ,.nome:hover,.email:hover,.Assunto:hover {
    box-shadow: 1px 1px 1px #7b5f5f;
    
  }
  .txtArea:hover{
    box-shadow: 1px 2px 1px #7b5f5f;
  }

  .txtArea::after ,.nome::after,.email::after,.Assunto::after {
    box-shadow: 1px 1px 1px #bf8b8b;
    
  }
  .cor-fundo{
    position: absolute;
    width: 1900px;
    height: 700px;
    background-color: #dac7c7;
    top: -1em;
    left:-42.5em;
    z-index: -1;
  }
  .btn-submit{
  
    background-color: #bf8b8b;
    color: #fff;
    padding:  10px 20px 10px 20px ;
    position: relative;
    left: 375px;
    top:-7em;
    cursor: pointer;
    transition: 0.8s all;
  }
  .btn-submit:hover{
    background-color: #916a6a;
  }

  /*lista de assinates e policas*/

  .listas{
    position: relative;
    top: -15em;
    width: 800px;
    left: 500px;
    text-align: center;
  }
  .listas h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#3d2a2a;
    font-size: 15pt;
  }
  .listas input{
   width: 300px;
   height: 30px;
  }
  .outras{
    position: relative;
    top:-11em;
    left: 650px;
    width: 800px;
   
  }
.outras a {
    margin: 10px;
    color:#3d2a2a;
}
.btn-assine{
    padding: 10px;
    background-color: #efaaaa;
    border: none;
    color:#fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .5s all;
    cursor: pointer;
}

.btn-assine:hover{
    background-color: #775151;
    border: none;
    color:#fff;
}

