
.menu{
    top:21px;
}
.conteiner{
    position: relative;
    top:150px;
    left: 20%;
    width: 75em;
    
}
img{
    width: 250px;
    margin:20px;
}

.contatos{
    position: absolute;
    top: 160em;
}
